.form__group {
  margin-top: 30px;
}

.form__group--inline {
  display: flex;
  align-items: center;
}

.form__text-input {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1.5px solid #d2d1d6;
}

.form__text-input:focus-within {
  border-color: #77dae6;
}

.form__input {
  flex: 1;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}

.form__input-icon {
  margin-left: 12px;
}

.form__input::placeholder {
  color: #d2d1d6;
}

.form__pull-right {
  margin-left: auto;
}

.form__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__checkbox-label {
  color: #9e9da8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
}

.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}

.btn--text {
  color: #9e9da8;
  background: transparent;
  font-weight: 400;
}

.btn--primary {
  color: #171c28;
  background: #ffb700;
}

.btn--outline {
  background: transparent;
  border: 1px solid #d2d1d6;
}

.btn--rounded {
  border-radius: 99px;
}

.btn[disabled],
.btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn:hover {
  opacity: 0.9;
}
.auth {
  display: flex;
  min-height: 100vh;
}

.auth__intro,
.auth__content {
  flex: 1;
}

.auth__intro {
  display: flex;
  background: var(--color-primary);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.auth__intro-text {
  max-width: 412px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}

.auth__content {
  background: var(--color-secondary);
}

.auth__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(460px, 100%);
  margin: 0 auto;
  padding: 50px 0;
}

.auth__heading {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 146.667%;
}

.auth__desc {
  margin-top: 10px;
  padding: 0 30px;
  color: #9e9da8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.auth__form {
  width: 100%;
  margin-top: 30px;
}

.auth__link {
  color: #0071dc;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.auth__btn-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.auth__btn {
  width: 100%;
}

.auth__text {
  margin-top: 108px;
  color: #9e9da8;
  font-size: 1.8rem;
  line-height: 144.444%;
}
