.auth {
  display: flex;
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .auth {
    min-height: -webkit-fill-available;
  }
}

.auth__intro,
.auth__content {
  flex: 1;
  padding: 0 30px;
}

.auth__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  background: var(--auth-intro-bg);
}

.auth__intro-logo,
.auth__intro-next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.auth__intro-logo {
  top: 80px;
}

.auth__intro-next {
  bottom: 50px;
}

.auth__intro-img {
  width: min(424px, 100%);
  margin-bottom: 10rem;
}

.auth__content {
  background: var(--auth-content-bg);
}

@media (max-width: 768px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: transform 0.3s;
    overflow-y: auto;
  }

  .auth__content.hide {
    transform: translateX(100%);
  }
}

.auth__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(460px, 100%);
  margin: 0 auto;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .auth__content-inner {
    padding: 32px 0;
  }
}

.auth__heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 146.667%;
  color: var(--auth-heading-color);
}

@media (max-width: 768px) {
  .auth__heading {
    margin-top: 40px;
    font-size: 2.2rem;
  }
}

.auth__form {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .auth__form {
    margin-top: 0;
  }
}

.auth__link {
  color: #0071dc;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

@media (max-width: 768px) {
  .auth__link {
    font-size: 1.4rem;
  }
}

.auth__btn-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .auth__btn-group {
    margin-top: 40px;
    gap: 20px;
  }
}

.auth__btn {
  width: 100%;
}

.auth__text {
  margin-top: 108px;
  color: #9e9da8;
  font-size: 1.8rem;
  line-height: 144.444%;
}

@media (max-width: 768px) {
  .auth__text {
    margin-top: 40px;
    font-size: 1.6rem;
  }
}

.auth__text-link {
  font-size: inherit;
}

/* Filter button */
.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 36px;
  padding: 0 14px;
  border-radius: 6px;
  color: var(--filter-btn-color);
  background: var(--filter-btn-bg);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;
}

/* Like button */
.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
  display: none;
}

.like-btn.like-btn--liked .like-btn__icon {
  display: none;
}

.like-btn__icon--liked {
  margin-top: 6px;
}

/* Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
}

.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}

.btn--text {
  color: #9e9da8;
  background: transparent;
  font-weight: 400;
}

.btn--primary {
  color: #171c28;
  background: #ffb700;
}

.btn--outline {
  background: transparent;
  border: 1px solid #d2d1d6;
}

.btn--rounded {
  border-radius: 99px;
}

.btn[disabled],
.btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn:hover {
  opacity: 0.9;
}

/* Mixin replacements */
@media (min-width: 768px) {
  .form__group {
    margin-top: 20px;
  }

  .form__text-input {
    height: 48px;
  }

  .form__input {
    font-size: 1.6rem;
  }

  .form__checkbox-label {
    font-size: 1.4rem;
  }
}

.form:has(:invalid) .form__submit-btn {
  opacity: 0.5;
  pointer-events: none;
}

.form__group {
  margin-top: 30px;
}

.form__group--inline {
  display: flex;
  align-items: center;
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__text-input {
  border-color: #ed4337;
  background: rgba(237, 67, 55, 0.1);
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__error,
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__input-icon-error {
  display: block;
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__input-icon {
  display: none;
}

.form__text-input {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1.5px solid #d2d1d6;
}

.form__text-input:focus-within {
  border-color: #77dae6;
}

.form__input {
  flex: 1;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}

.form__input-icon {
  margin-left: 12px;
}

.form__input::placeholder {
  color: var(--form-placeholder-color);
}

.form__error {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 10px;
  color: #ed4337;
  display: none;
}

.form__input-icon-error {
  display: none;
  margin-left: 12px;
  animation: shake 0.5s;
}

.form__pull-right {
  margin-left: auto;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.form__checkbox-label {
  margin-left: 29px;
  color: #9e9da8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.form__checkbox::before,
.form__checkbox::after {
  content: "";
  position: absolute;
}

.form__checkbox::before {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1.5px solid #9e9da8;
}

.form__checkbox:has(:checked)::before {
  border-color: #ffb700;
  background: #ffb700;
}

.form__checkbox:has(:checked)::after {
  width: 14px;
  height: 4px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
  left: 1px;
  top: 3px;
}
