.auth {
  display: flex;
  min-height: 100vh;
}
@keyframes shake {
  0%,
  100% {
    translate: 0;
  }

  25%,
  75% {
    translate: 4px;
  }
  50% {
    translate: -4px;
  }
}

@supports (-webkit-touch-callout: none) {
  .auth {
    min-height: -webkit-fill-available;
  }
}

.auth__intro,
.auth__content {
  flex: 1;
  padding: 0 30px;
}

.auth__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  background-image: url(../img/auth/auth-img.jpg);
  background-size: COVER;
  background-position: calc(50% - 50px);
  background-repeat: no-repeat;
}

.auth__intro-logo,
.auth__intro-next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.auth__intro-logo {
  top: 80px;
}

.auth__intro-next {
  bottom: 50px;
}

.auth__intro-img {
  width: min(424px, 100%);
  margin-bottom: 10rem;
}

.auth__content {
  background: var(--auth-content-bg);
}

@media (max-width: 768px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 1;
    transition: transform 0.3s;
    overflow-y: auto;
  }

  .auth__content.hide {
    transform: translateX(100%);
  }
}

.auth__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(460px, 100%);
  margin: 0 auto;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .auth__content-inner {
    padding: 32px 0;
  }
}

.auth__heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 146.667%;
  color: var(--auth-heading-color);
}

@media (max-width: 768px) {
  .auth__heading {
    margin-top: 40px;
    font-size: 2.2rem;
  }
}

.auth__form {
  width: 100%;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .auth__form {
    margin-top: 0;
  }
}

.auth__link {
  color: #0071dc;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

@media (max-width: 768px) {
  .auth__link {
    font-size: 1.4rem;
  }
}

.auth__btn-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .auth__btn-group {
    margin-top: 40px;
    gap: 20px;
  }
}

.auth__btn {
  width: 100%;
}

.auth__text {
  margin-top: 108px;
  color: #9e9da8;
  font-size: 1.8rem;
  line-height: 144.444%;
}

@media (max-width: 768px) {
  .auth__text {
    margin-top: 40px;
    font-size: 1.6rem;
  }
}

.auth__text-link {
  font-size: inherit;
}

/* Filter button */
.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 36px;
  padding: 0 14px;
  border-radius: 6px;
  color: var(--filter-btn-color);
  background: var(--filter-btn-bg);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 142.857%;
}

/* Like button */
.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
  display: none;
}

.like-btn.like-btn--liked .like-btn__icon {
  display: none;
}

.like-btn__icon--liked {
  margin-top: 6px;
}

/* Mixin replacements */
