.navbar {
  font-size: large;
  background-color: var(--color-primary) !important;
  padding: 2rem 5rem;
  width: 100%;
}
.nav-item {
  text-wrap: nowrap;
}
/* Ensure the navbar content is centered when collapsed */
@media (max-width: 992px) {
  .navbar-collapse {
    text-align: left;
  }

  .navbar-nav {
    margin: 0 auto;
    float: none;
  }

  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
  }

  .form__search {
    margin-inline-start: 0;
  }

  .d-flex {
    justify-content: lefts;
  }
}
.logo-style {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 7px;
}
.form__search {
  height: 3rem;
  width: 50%;
}
.btn__search {
  height: 3rem;
}
.btn_signup {
  height: 3rem;
  text-wrap: nowrap;
}
.btn__login {
  height: 3rem;
  text-wrap: nowrap;
  border: #ddd solid 1px;
}

/* banner */
/* external css: flickity.css */

.banner__container {
  margin: 10rem 5rem;
}
.carousel {
  background: var(--color-white);
  margin: 0 auto;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  border-radius: 2rem;
}

.carousel-cell img {
  display: block;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
/* MENU */
.menu-container {
  margin: auto 5rem;
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.menu-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100px;
  padding: 10px;
  transition: transform 0.3s ease;
  text-align: center;
  text-decoration: none; /* Loại bỏ gạch chân liên kết */
  color: inherit; /* Giữ nguyên màu chữ của các phần tử con */
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.menu-item p {
  margin: 10px 0 0;
  font-size: 18px;
  color: var(--color-primary);
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--color-third);
  color: #fff;
}
/* Media query cho man hinh lon */
@media (max-width: 1300px) {
  .menu-item {
    width: calc(100% / 9 - 15px); /* Chia đều cho 4 cột */
  }
  .menu-item p {
    font-size: 12px;
  }
}
/* Media query cho màn hình máy tính bảng (tablet) */
@media (max-width: 1024px) {
  .menu-item {
    width: calc(100% / 9 - 15px); /* Chia đều cho 4 cột */
  }
  .menu-item p {
    font-size: 10px;
  }
}

/* Media query cho màn hình điện thoại (smartphone) */
@media (max-width: 768px) {
  .menu-item {
    width: calc(100% / 3 - 15px); /* Chia đều cho 2 cột */
  }
  .menu-item p {
    font-size: 12px;
  }
}
/*panel*/
.product-list .panel {
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.panel:hover {
  transform: scale(1.009);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* product-list */
.product-list {
  margin: 0rem 4rem;
}
.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}
.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list .pro-img-box img {
  width: 90%;
  margin-top: 5%;
  transform: translateX(5%);
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.product-list .pro-img-box {
  position: relative;
}
.adtocart {
  background: #ffc107;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  position: absolute;
  transition: all 0.3s ease;
}
.adtocart:hover {
  background: #ff7261;
  border: 3px solid white;
  color: #fff;
  text-decoration: none;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5a5a5a;
  display: inline-block;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 16px;
  height: 4rem;
  position: relative;
}
.pro-title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: width 0.3s;
}
.pro-title:hover {
  color: var(--color-primary);
}
.pro-title:hover::after {
  width: 100%;
}
.product-list .price {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}
.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}
.pag_container {
  display: flex;
  justify-content: center;
}
.listPage {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.listPage li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  cursor: pointer;
}
.listPage li:hover:not(.active) {
  background-color: #ddd;
}
.listPage .active {
  background-color: var(--color-secondary);
  color: white;
  border: 1px solid var(--color-secondary);
}

/* filter */
.home__row {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.filter-wrap {
  position: relative;
  z-index: 1;
}
.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 36px;
  padding: 0 14px;
  border-radius: 6px;
  color: var(--filter-btn-color);
  background: var(--filter-btn-bg);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;
}
.icon {
  filter: var(--icon-color);
}

.filter {
  position: absolute;
  right: 0;
  top: 55px;
  padding: 30px 0;
  border-radius: 20px;
  background: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
  transition: opacity 0.2s, visibility 0.2s;
}

@media (max-width: 576px) {
  .filter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    border-radius: 0;
  }
}

.filter.hide {
  opacity: 0;
  visibility: hidden;
}

.filter__arrow {
  position: absolute;
  top: -15px;
  right: 24px;
  height: 20.5px;
  filter: var(--filter-form-arrow);
}

.filter__heading {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}

.filter__form {
  margin-top: 30px;
}

.filter__form-label {
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}

.filter__form-label--small {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 142.857%;
}

.filter__form-group {
  margin-top: 20px;
}

.filter__form-group--inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.filter__form-slider {
  position: relative;
  width: 100%;
  height: 2px;
  background: #d2d1d6;
}

.filter__form-slider::before,
.filter__form-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 6px solid #ffb700;
  background: var(--filter-form-bg);
}

.filter__form-slider::before {
  left: var(--min-value);
}

.filter__form-slider::after {
  left: var(--max-value);
}

.filter__form-text-input,
.filter__form-select-wrap {
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}

.filter__form-text-input {
  display: flex;
  align-items: center;
  width: 334px;
  height: 44px;
  padding: 0 16px;
  overflow: hidden;
}

.filter__form-text-input--small {
  width: 121px;
  height: 36px;
  padding: 0 12px;
}

@media (max-width: 1200px) {
  .filter__form-text-input--small {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .filter__form-text-input {
    width: 100%;
  }
}

.filter__form-input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.filter__form-input::placeholder {
  color: #9e9da8;
  font-weight: 400;
}

@media (max-width: 576px) {
  .filter__form-input {
    font-size: 1.6rem;
  }
}

.filter__form-input-icon {
  margin-left: 12px;
}

.filter__form-select-wrap {
  display: flex;
  align-items: center;
  height: 45px;
}

.filter__form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  min-width: var(--width, 108px);
  height: calc(100% - 10px);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .filter__form-select {
    flex: 1;
  }
}

.filter__form-select + .filter__form-select {
  border-left: 1px solid #d2d1d6;
}

.filter__form-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

@media (max-width: 576px) {
  .filter__form-tags {
    gap: 10px;
  }
}

.filter__form-tag {
  padding: 6px 12px;
  border-radius: 6px;
  color: #9e9da8;
  background: var(--filter-form-tag-bg);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  transition: color 0.2s;
}

.filter__form-tag:hover {
  color: var(--text-color);
}

.filter__row {
  display: flex;
}

.filter__separate {
  width: 1px;
  margin: 0 30px;
  background: #eee;
}

@media (max-width: 1200px) {
  .filter__separate {
    width: 100%;
    height: 1px;
    margin: 30px 0;
  }
}

.filter__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

@media (max-width: 576px) {
  .filter__footer {
    position: sticky;
    bottom: 30px;
    background: var(--filter-form-bg);
  }
}

.filter__cancel,
.filter__submit {
  height: 38px;
  padding: 0 10px;
}

@media (max-width: 576px) {
  .filter__cancel,
  .filter__submit {
    flex: 1;
    height: 42px;
  }
}

.filter__cancel {
  font-size: 1.5rem;
}

.filter__submit {
  font-size: 1.4rem;
}
.filter__submit:hover {
  background: #ffb700;
  color: #171c28;
}

.filter__heading,
.filter__content,
.filter__footer {
  padding: 0 30px;
}

.filter__content {
  max-height: calc(100vh - 350px);
  overflow-y: auto;
  overscroll-behavior: contain;
}

@media (max-width: 1200px) {
  .filter__content {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .filter__content {
    max-height: calc(100vh - 230px);
    padding-bottom: 60px;
  }
}
