.recept-page {
  background-color: #fffdf7;
  margin-top: 120px;
}
body {
  background-color: #fffdf7;
}
.order-list {
  margin: 10px 5%;
}
.order-card {
  font-size: large;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-left: 7px solid #242e52;
}

.status-pending {
  background-color: #ffc107;
  color: white;
}

.status-completed {
  background-color: #4caf50;
  color: white;
}

.status-cancelled {
  background-color: #f44336;
  color: white;
}
.breadcrumbs {
  margin: 0 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 64px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.05);
}
.breadcrumbs__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #242e52;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  white-space: nowrap;
}

.order-header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.order-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.order-label {
  font-weight: bold;
  color: #333;
  min-width: 120px;
}

.order-value {
  padding: 5px 10px;
  border-radius: 5px;
}

.order-details-section {
  display: flex;
  align-items: center;
  padding: 15px;
}

.order-details-section:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.view-details-link {
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: bold;
}

.view-details-link:hover {
  color: #1976d2;
  text-decoration: underline;
}

.order-expanded-details {
  display: none;
  background-color: #f9f9f9;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
}

.order-expanded-details.active {
  display: block;
}

.order-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 20px 5%;
  display: flex;
  justify-content: center;
}
.order-product span {
  width: 50%;
  /* NẾU DÀI QUÁ HIỆN ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 50px;
}

.total-payment {
  text-align: right;
  font-weight: bold;
  color: #4caf50;
  margin-top: 15px;
}
.btn__login {
  padding: 5px 20px;
  margin-top: 5px;
  background-color: #fafafa;
  color: #5a5a5a;
  border: none;
  border-radius: 25px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
