/* Khai báo biến màu sắc */
:root {
  --color-primary: rgb(24, 28, 40);
  --color-secondary: rgb(42, 46, 57);
  --color-third: rgb(234, 230, 220);
  --color-white: #fff;
  --gray: #787878;
  --gray-light: #eee;
  --gray-dark: #2e3c54;
  --text-color: var(--color-primary);
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --footer-bg-color: var(--header-bg-color);
  --footer-text-color: #9e9da6;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #545458;
  --header-act-dropdown-bg: #2f3441;
  --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
  --header-act-dropdown-border-color: #171c28;
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(27%)
    saturate(487%) hue-rotate(185deg) brightness(89%) contrast(88%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(6%)
    saturate(527%) hue-rotate(180deg) brightness(107%) contrast(96%);
  --sidebar-bg: #292e39;
  --sidebar-shadow: rgba(23, 28, 40, 0.4);
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title-color: #fff;
  --filter-btn-color: #fff;
  --filter-btn-bg: #171c28;
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --form-tag-bg: #f8f8fb;
  --auth-content-bg: #fff;
  --form-placeholder-color: #d2d1d6;
  --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
  --form-select-dialog-bg: #fff;
  --form-option-hover-bg: #ebebeb;
  --product-detail-bg: #292e39;
  --product-detail-info-bg: #171c28;
  --product-detail-info-content-bg: transparent;
  --product-detail-tag-bg: #292e39;
  --breadcrumbs-bg: #171c28;
  --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
  --search-bar-bg: #171c28;
  --review-card-bg: #171c28;
  --text-content-hr-bg: #3e4043;
  --checkout-breadcrumbs-bg: #171c28;
  --checkout-cart-info-bg: #171c28;
  --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
  --checkout-border-color: #292e39;
  --checkout-gift-shadow: rgba(23, 28, 40, 0.2);
  --checkout-payment-item-bg: #292e39;
  --dialog-bg: #2f3441;
  --dialog-shadow: rgba(23, 28, 40, 0.4);
  --profile-sidebar-bg: #171c28;
  --profile-sidebar-shadow: rgba(23, 28, 40, 0.2);
  --profile-sidebar-link-hover: #2f3441;
  --account-info-bg: #292e39;
  --account-info-icon-bg: #171c28;
  --separate-color: #292e39;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
button,
input,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
input {
  background: transparent;
}

.my_btn {
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
}

.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}
.btn--text {
  color: #9e9da8;
  background: transparent;
  font-weight: 400;
}
.btn--primary {
  color: #171c28;
  background: #ffb700;
}
.btn--outline {
  background: transparent;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 99px;
}
.btn[disabled],
.btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.my_btn:hover {
  opacity: 0.9 !important;
}
@media (min-width: 768px) {
  .form__group {
    margin-top: 20px;
  }

  .form__text-input {
    height: 48px;
  }

  .form__input {
    font-size: 1.2rem;
  }

  .form__checkbox-label {
    font-size: 1.4rem;
  }
}

.form:has(:invalid) .form__submit-btn {
  opacity: 0.5;
  pointer-events: none;
}

.form__group {
  margin-top: 30px;
}

.form__group--inline {
  display: flex;
  align-items: center;
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__text-input {
  border-color: #ed4337;
  background: rgba(237, 67, 55, 0.1);
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__error,
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__input-icon-error {
  display: block;
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown))
  .form__input-icon {
  display: none;
}

.form__text-input {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1.5px solid #9e9da6;
}

.form__text-input:focus-within {
  border-color: var(--color-primary);
}

.form__input {
  flex: 1;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 144.444%;
}

.form__input-icon {
  margin-left: 12px;
}

.form__input::placeholder {
  color: var(--form-placeholder-color);
}

.form__error {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 8px;
  color: #ed4337;
  display: none;
}

.form__input-icon-error {
  display: none;
  margin-left: 12px;
  animation: shake 0.5s;
}

.form__pull-right {
  margin-left: auto;
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.form__checkbox-label {
  margin-left: 29px;
  color: #9e9da8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.form__checkbox::before,
.form__checkbox::after {
  content: "";
  position: absolute;
}

.form__checkbox::before {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  border: 1.5px solid #9e9da6;
}

.form__checkbox:has(:checked)::before {
  border-color: #ffb700;
  background: #ffb700;
}

.form__checkbox:has(:checked)::after {
  width: 14px;
  height: 4px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  rotate: -45deg;
  left: 1px;
  top: 10px;
}
