<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza 4ps</title>
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="../assets/bootstrap-5.3.3-dist/css/bootstrap.min.css"
    />
    <!-- link cnd -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- script -->
    <script src="../assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script src="../assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <!-- CSS -->
     <link rel="stylesheet" href="../assets/css/flickity.min.css">
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/header-deliver.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <!-- Fonts -->
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../assets/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header>
      <div class="logo logo-style" id="logo">
        <h1>PIZZA 4P'S</h1>
      </div>
      <nav
        class="navbar navbar-expand-lg d-flex justify-content-end navbar-dark fixed-top"
      >
        <div class="container">
          <!-- Toggle btn -->
          <button
            class="navbar-toggler py-4 shadow-none border-0 fs-5 ms-auto"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Sidebar -->
          <div
            class="sidebar offcanvas offcanvas-start d-flex flex-lg-row justify-content-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <!-- Sidebar header -->
            <div class="offcanvas-header text-white border-bottom">
              <h5 class="offcanvas-title logo-style" id="offcanvasNavbarLabel">
                PIZZA 4P'S
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <!-- Sidebar-body -->
            <div class="offcanvas-body d-flex flex-lg-row p-4">
              <ul
                class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3"
              >
                <li class="nav-item mx-2">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="#">giới thiệu</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="./Templates/deliver.html">giao hàng</a>
                </li>
              
                <li class="nav-item mx-2">
                  <a class="nav-link" href="#">tin tức</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="#">liên hệ</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link" href="#">đặt bàn</a>
                </li>
              </ul>
              <!-- login/signup -->
            </div>
            <div
              class="d-flex ml-lg-5 pb-5 pb-lg-0 flex-column justify-content-center flex-lg-row align-items-center gap-3"
            >
              <a href="./Templates/sign-in.html" class="text-white"
                >Đăng nhập</a
              >
              <a
                href="./Templates/sign-up.html"
                class="text-black text-decoration-none px-4 py-2 rounded-4"
                style="background-color: #ffc107"
                >Đăng ký</a
              >
    </header>  
    <main>
      <div class="banner__container"><div class="carousel" data-flickity='{ "autoPlay": true, "wrapAround": true }'>
        <div class="carousel-cell">
          <img src="../assets/img/banner1.webp" alt="banner1" />
        </div>
        <div class="carousel-cell">
          <img src="../assets/img/banner2.webp" alt="banner1" />
        </div>
        <div class="carousel-cell">
          <img src="../assets/img/banner3.webp" alt="banner1" />
        </div>
        <div class="carousel-cell">
          <img src="../assets/img/banner4.webp" alt="banner1" />
        </div>
      </div></div>
      <!-- delivery -->
      <div class="menu-container">
        <h2>Menu</h2>
        <div class="menu-items">
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/theomua.webp" alt="Seasonal">
          <p>Seasonal</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/pizza.webp" alt="Bánh Pizza">
          <p>Bánh Pizza</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/khaivi.webp" alt="Khai vị">
          <p>Khai vị</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/salad.webp" alt="Salad">
          <p>Salad</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/miy.webp" alt="Món Chính/ Mì Ý">
          <p>Món Chính/ Mì Ý</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/trangmieng.webp" alt="Tráng miệng">
          <p>Tráng miệng</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/thucuong.webp" alt="Thức uống">
          <p>Thức uống</p>
            </a>
            <a href="#" class="menu-item">
          <img src="../assets/img/menu/topping.webp" alt="Thêm Topping">
          <p>Thêm Topping</p>
            </a>
        </div>
    </div>
    <!-- Phổ biến -->
    <div class="row product-list">
    <h2>Sản phẩm
    </h2>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/6495ED/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/FF7F50/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/00BFFF/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/00CED1/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/9400D3/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/FFD700/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/ADD8E6/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
                <a href="#" class="panel-link">View Details</a>
            </div>
        </section>
    </div>
    <div class="col-md-3 mt-5">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://www.bootdey.com/image/250x220/20B2AA/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center pb-2">
                <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-3 mt-5">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://www.bootdey.com/image/250x220/3CB371/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center pb-2">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-3 mt-5">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center pb-2">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-3 mt-5">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://www.bootdey.com/image/250x220/C71585/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center pb-2">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-3 mt-5">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://www.bootdey.com/image/250x220/191970/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center pb-2">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-3 mt-5">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://www.bootdey.com/image/250x220/87CEEB/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center pb-2">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-3 mt-5">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center pb-2">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
  </div>

    </main>
    <script src="../assets/js/flickity.pkgd.min.js"></script>
  </body>
  