<div class="logo logo-style" id="logo">
  <h1>PIZZA 4P'S</h1>
</div>
<nav
  class="navbar navbar-expand-lg d-flex justify-content-end navbar-dark bg-tranparent fixed-top"
>
  <div class="container">
    <!-- Toggle btn -->
    <button
      class="navbar-toggler py-4 shadow-none border-0 fs-5 ms-auto"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Sidebar -->
    <div
      class="sidebar offcanvas offcanvas-start d-flex flex-lg-row justify-content-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!-- Sidebar header -->

      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title logo-style" id="offcanvasNavbarLabel">
          PIZZA 4P'S
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <!-- Sidebar body -->
      <div class="offcanvas-body d-flex flex-lg-row p-4">
        <ul
          class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3"
        >
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">menu</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">tin tức</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">liên hệ</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">đặt bàn</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <!-- login/signup -->
      <div
        class="d-flex ml-lg-5 pb-5 pb-lg-0 flex-column justify-content-center flex-lg-row align-items-center gap-3"
      >
        <a href="#" class="text-white">Đăng nhập</a>
        <a
          href="#"
          class="text-black text-decoration-none px-4 py-2 rounded-4"
          style="background-color: #ffc107"
          >Đăng ký</a
        >
      </div>
    </div>
  </div>
</nav>
