<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../assets/css/location.css">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="locationlist_title">
      VietNam
    </h1>
    <ul>
      <li class="locationlist_node">
        <div class = locationlist_nodeinner>
          <div class = locationlist_nodeinner_bg>

          </div>
          <div class="locationlist_nodeinner_content">
            <h3>Vincom Plaza 3/2</h3>
            <div class="locationlist_nodeinner_control">
              <a class="locationlist_nodeinner_control_link" href="http://google.com">
                ViewDetail
              </a>
              <a class="locationlist_nodeinner_control_link" href="http://google.com">
                Reservation
              </a>
              <a class = "locationlist_nodeinner_control_link" href="http://google.com">
                GoogleMap
              </a>
              
            </div>
          </div>
        </div>
      </li>
    </ul>
  </body>
</html>

<!-- alo -->