<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up | PIZZA 4P'S</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="../assets/css/auth.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <!-- Scripts -->
    <script src="./assets/js/scripts.js"></script>
  </head>
  <body>
    <main class="auth">
      <!-- Auth intro -->
      <div class="auth__intro">
        <img src="./assets/img/auth/intro.svg" alt="" class="auth__intro-img" />
        <p class="auth__intro-text">
          Giá trị thương hiệu sang trọng nhất, sản phẩm chất lượng cao và dịch
          vụ sáng tạo nhất
        </p>
      </div>

      <!-- Auth content -->
      <div class="auth__content">
        <div class="auth__content-inner">
          <!-- Logo -->
          <a href="./" class="logo">
            <h1 class="logo__title">PIZZA 4P'S</h1>
          </a>
          <h1 class="auth__heading">Đăng ký</h1>
          <p class="auth__desc">
            Đăng ký tài khoản để trải nghiệm những dịch vụ tốt nhất từ chúng tôi
          </p>
          <form action="" class="form auth__form">
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Email"
                  class="form__input"
                />
                <img
                  src="./assets/icons/message.svg"
                  alt=""
                  class="form__input-icon"
                />
              </div>
            </div>
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="password"
                  name=""
                  id=""
                  placeholder="Password"
                  class="form__input"
                />
                <img
                  src="./assets/icons/lock.svg"
                  alt=""
                  class="form__input-icon"
                />
              </div>
            </div>
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="password"
                  name=""
                  id=""
                  placeholder="Confirm password"
                  class="form__input"
                />
                <img
                  src="./assets/icons/lock.svg"
                  alt=""
                  class="form__input-icon"
                />
              </div>
            </div>
            <div class="form__group form__group--inline">
              <label class="form__checkbox">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  class="form__checkbox-input"
                />
                <span class="form__checkbox-label">Nhớ mật khẩu</span>
              </label>
              <a href="#!" class="auth__link form__pull-right">Đổi mật khẩu</a>
            </div>
            <div class="form__group auth__btn-group">
              <button class="btn btn--primary auth__btn">Đăng nhập</button>
              <button class="btn btn--outline auth__btn btn--no-margin">
                <img src="./assets/icons/google.svg" alt="" class="btn__icon" />
                Đăng nhập bằng Google
              </button>
            </div>
          </form>

          <p class="auth__text">
            Bạn đã có tài khoản?
            <a href="./sign-in.html" class="auth__link">Đăng nhập</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
